<form name="frm" method = "post">
<input type="hidden" name="checked" value=0>
<%- userview %>
<table  class="tbList paginated">
  <div class="pagination" id="pagination"></div>
  보여줄 리스트 개수 :
      <select name="list" onchange="listchange()">
      <option value="5">5</option>
      <option value="10">10</<option>
        <option value="15">15</<option>
          <option value="20">20</<option>
        </select>
        <%- search %>
    <thead>
          <tr>
            <%- dbname %>
          </tr>
   </thead>

    <tbody>
        <%- dbdata %>
    </tbody>
</table>
    <%- fault_list %>
</form>
